@font-face {
    font-family: "KyivType Sans";
    src: url("fonts/KyivTypeSans-VarGX.ttf");
}

:root {
    --worker-color: white;
}

body {
    font-family: KyivType Sans !important;
}

main {
    min-height: 100vh;
}

.register img {
    width: 140px;
    height: 120px;
    gap: 0px;
    opacity: 0px;
}

.login img {
    width: 232px;
    height: 197px;
    margin: 5% auto 0;
}

.rest-name,
.register img {
    margin-top: auto;
    margin-bottom: auto;
}

.rest-name h1 {
    width: 358px;
    height: 58px;
    top: 123px;
    left: 848px;
    gap: 0px;
    opacity: 0px;
    margin: 0;
    font-size: 48px;
    font-weight: 350;
    line-height: 57.6px;
    text-align: left;
}

.rest-name p {
    font-size: 32px;
    font-weight: 350;
    line-height: 38.4px;
    text-align: left;
    margin: 0;
    width: 329px;
    height: 44px;
    top: 181px;
    left: 848px;
    gap: 0px;
    opacity: 0px;
}

.register {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.register-form {
    width: max-content;
    display: flex;
    flex-direction: column;
    margin: 80px auto 80px auto;
}

.register-form label {
    width: max-content;
    height: 34px;
    margin-left: 20px;
    gap: 0px;
    opacity: 0px;
    color: #5e5bf0;
    font-size: 24px;
    font-weight: 350;
    line-height: 28.8px;
    text-align: left;
}

.register-form input[type="text"],
.register-form input[type="date"],
.search-input {
    font-size: 24px;
    width: 31vw;
    min-width: 360px;
    height: 40px;
    gap: 0px;
    border-radius: 70px;
    border: none;
    padding-left: 2%;
    outline: none;
    background: #efefef;
    margin: 0 auto;
}

.register-form input[type="submit"],
.link-btn {
    width: 25vw;
    min-width: 300px;
    height: 40px;
    background: #ffb2d2;
    gap: 0px;
    border: none;
    outline: none;
    border-radius: 80px;
    font-size: 24px;
    font-weight: 350;
    line-height: 28.8px;
    justify-content: center;
    margin: 30px auto 0 auto;
}

.register-form input[type="submit"]:hover {
    background: #f9a8c8;
    color: white;
}

.link-btn {
    display: block;
    text-decoration: none;
    background: #c5eafa;
    line-height: revert;
}

.link-btn:hover {
    color: white;
    background: #a7d3f8;
}

.m-footer {
    margin-top: 100px;
    color: white;
    background-color: #777777;
}

.info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 1%;
}
.header-client {
    margin: 1% auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-client .logo {
    width: 140px;
    height: 120px;
}

.header-client .rest-name {
    flex-direction: column;
    align-items: center;
    margin: auto 0;
}

.user-icon {
    background-color: #f9a8c8;
    border-radius: 50%;
}

.icons-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: end;
}

.icons-group img {
    display: block;
    width: 60px;
    height: 60px;
}

.icons-group a {
    padding: 1%;
}

.client-information {
    margin: 5% auto;
    width: 60%;
    height: 300px;
    border-radius: 80px;
    display: flex;
    flex-direction: column;
    background-color: #f9a8c8;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
}

.client-information div {
    font-size: 1.25vw;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.client-information p {
    display: block;
}

.orders-client {
    margin: 5% auto;
    width: 80%;
}

.orders-client hr {
    border: none;
    color: #630018;
    background-color: #630018;
    height: 3px;
}

.order-history {
    width: 95%;
    margin: 2% 5%;
    display: flex;
    flex-direction: column;
}

.order-history .head {
    color: #630018;
    font-size: 1.5vw;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.order-history .head p {
    margin: auto 0;
}

.btn:focus {
    box-shadow: none;
    border: none;
    outline: none;
}

.order-status {
    border: none;
    outline: none;
    width: max-content;
    height: max-content;
    border-radius: 70px;
    background-color: #ffd978;
    text-align: center;
    margin: 0 0 0 auto !important;
    font-size: 1.25vw;
    padding: 1%;
}

.order-status:hover {
    opacity: 50%;
}

.order-details {
    color: #630018 !important;
    font-size: 1.25vw;
    margin: 0 auto;
    width: 80%;
    border: none !important;
}

.order-history .total-price {
    font-weight: bold;
    color: #630018;
    font-size: 1.6vw;
    margin-left: 5%;
}

.header_area {
    margin-top: 2% !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_block {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-bottom: 4%;
}

.logo_area {
    width: 10%;
}

.name_area {
    width: 75%;
    display: flex;
    align-items: center;
}

.button_area {
    width: 15%;
    display: flex;
    flex-direction: row;
}

.order_logo {
    width: 120px;
    height: 100px;
}

.titile h3 {
    margin: 0;
    color: var(--worker-color);
}

.subtitle p {
    margin: 0;
}

.profile_button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_img {
    width: 80px;
    height: 80px;
    background-color: var(--worker-color);
    border-radius: 100%;
}

.menu_button {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile_button {
    width: 50%;
}

.line {
    border: 2px solid black;
    margin-bottom: 5px;
    width: 40%;
}

.order_line_block {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text {
    font-size: 30px;
    vertical-align: bottom;
}

.line_block {
    width: 87%;
    display: flex;
    align-items: end;
}

.order_line {
    border: 7px solid var(--worker-color);
    width: 100%;
}

.decor-elem {
    width: 2vw;
    border-radius: 60px;
    background: var(--worker-color);
}

.order-info-details {
    display: flex;
    flex-direction: row;
}

.order-workers {
    width: 100%;
    justify-content: space-between;
    margin: 1%;
}

.order-workers .row {
    padding-top: 2%;
}

.btn {
    height: 100px;
}
.order-workers .order-status {
    margin-top: 50px !important;
    background-color: var(--worker-color);
}

.order-info-details {
    flex-direction: column;
    width: 500px;
}

.order-info-details .order-details {
    width: 100%;
    margin: 0;
}

.orders-form {
    display: flex;
    flex-direction: column;
}

.adv {
    display: flex;
    justify-content: center;
}

.adv img {
    width: 80%;
}

.navigation-menu {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5vh auto;
}

.fixed {
    width: 100%;
    position: fixed;
    background-color: white;
    top: 0;
    margin: 0;
}

.navigation-menu a {
    font-size: 1.8vw;
    font-weight: 350;
    line-height: 10px;
    text-align: center;
    color: black;
    text-decoration: none;
}

.navigation-menu a:hover {
    color: #630018;
}

.main_block {
    width: 80%;
    margin: 10px auto;
}

.category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item {
    flex-basis: 20%;
    margin: 2% 2.5%;
}

.item * {
    width: 100%;
}

.item h1 {
    font-size: 1.6vw;
    font-weight: 350;
    text-align: left;
}

.item h3 {
    font-size: 1.2vw;
}

.item .coster {
    display: flex;
    flex-direction: row;
}

.item button {
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    border: none;
}

.item .main-img {
    min-width: 100%;
    height: 32vh;
    border-radius: 5%;
    object-fit: cover;
}

.cartes img {
    width: 10vw;
    height: 10vw;
    border-radius: 10%;
}

.cartes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.cartes div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1%;
}

.minus-to-plus * {
    width: max-content;
}

.minus-to-plus h5 {
    margin: 0 5%;
}

.additionally img {
    width: 10vw;
    height: 10vw;
    object-fit: cover;
}

.additionally {
    width: 15vw;
    height: 15vw;
    display: flex;
    flex-direction: column;
    background-color: #f9a8c8;
    border-radius: 10%;
    justify-content: center;
    align-items: center;
}

.additionally * {
    width: max-content;
}

.extra {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.add-to-remove {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.add-to-remove p {
    margin: 0 10%;
}

.total-summ {
    font-size: 1.5vw;
    text-align: right;
    margin-right: 5%;
}
.address-form {
    padding: 1% 10%;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.comment-to-order {
    padding: 2% 0;
    width: 100% !important;
}

.comment-to-order input,
.comment-to-order label {
    height: 5vh;
    width: 100%;
    text-align: left;
}

.address-form div {
    width: 24%;
}

.address-form input {
    width: 100%;
    background-color: #d9d9d9;
    border-radius: 70px;
    border: none;
    outline: none;
    padding: 2% 2%;
}

.address-form label {
    font-size: 1.5vw;
}

.time-to-delivery {
    width: 50% !important;
    height: max-content;
    padding: 0;
    margin: 0 1% !important;
}

.time-to-delivery label {
    width: 80% !important;
}

@media (max-width: 600px) {
    .order-workers {
        display: flex !important;
        flex-direction: column !important;
    }

    .accepted-btn input {
        font-size: 16px;
        height: 60px;
    }
}
